[user]
  name = Sigurd Fosseng
  email = sigurd@fosseng.net
[diff]
  algorithm = histogram
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  main = "!git checkout $(git remote show origin | sed -n '/HEAD branch/s/.*: //p')"
  m = main
  co = checkout
  ci = commit
  st = status
  br = branch
  l = log --stat --abbrev-commit
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  panic = !tar cvf ../git_panic.tar *
  changelog = !git-changelog
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ | sed '/^# .*toptal/d' ;}; gi"
  pr = "!f() { exec az repos pr \"$@\"; }; f"
  repo = "!f() { exec az repos \"$@\"; }; f"
[include] # silent fail
  path = .gitconfig.osx
  path = .gitconfig.linux
  path = .gitconfig.local
[push]
  default = simple
  autoSetupRemote = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  excludesfile = ~/.gitignore_local
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[magit]
  hideCampaign = true
[diff "sopsdiffer"]
  textconv = sops -d
[github]
  user = laat
[diff "orgmode"]
  xfuncname = "^(\\*+.*)$"
[pull]
  rebase = true
[init]
  defaultBranch = main
[include]
  path = ~/.gitconfig.local
