if [ -d "$HOME/.Xresources.d" ]; then
    for file in "$HOME/.Xresources.d"/*; do
        [ -f "$file" ] && xrdb -merge "$file"
    done
    unset file
fi

if [ -d "$HOME/.xprofile.d" ]; then
    for file in "$HOME/.xprofile.d"/*; do
        [ -f "$file" ] && . "$file"
    done
    unset file
fi
[ -f "$HOME/.xprofile.local" ] && . "$HOME/.xprofile.local"
